# Operating System
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables and secrets
.env
.env.*
!.env.example

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
htmlcov/
